@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}
body {

  background-color: hsl(185, 75%, 39%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Kumbh Sans',
        sans-serif;
  background-image: url(https://digitshack.com/codepen/mentor4/bg-pattern-top.svg), url(https://digitshack.com/codepen/mentor4/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh,
        left 45vw top 44vh;
}

.grid-3rows {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  position:relative;
  margin: 0 auto;
}


.parte-arriba {
 
  background-image: url("https://digitshack.com/codepen/mentor4/bg-pattern-card.svg")
}

.parte-abajo img{
  position: absolute;
  top:30%;
}
.parte-abajo {
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
 gap: 10px;
}


span {
    color: hsl(227, 10%, 46%);
    margin-left: 5px;
    font-weight: 500;
}


.parte-final {
  border-top: 1px solid silver;
  
}

.parte-final {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 80px;
  
}

.parte-abajo img {
  border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #FFF;
  width: 100px;
  height: 100px;
 
  
}

.parte-abajo h1 {
  font-weight: 700;
  margin-top: 30px;
  font-size: 18px;
  
}

.parte-abajo h2 {
    color: hsl(227, 10%, 46%);
    font-size: 16px;
    font-weight: 500;
}

h4 {
  font-weight: 500;
  color: hsl(227, 10%, 46%);
  letter-spacing: 2px;
  margin-top: 5px;
  font-size: 12px;
}


.attribution {
      font-size: 11px;
      text-align: center;
    }

 .attribution a {
      color: hsl(228, 45%, 44%);
    }

footer{
  margin-top: 50px;
